#titulo{
    color:firebrick
    
}
 
    

p.especial{
    color:rgb(3, 2, 14)
}

p.texto{
    color:darkred
}

div p{
    color:rgb(10, 1, 1)
}

div h2{

    color:brown
}

* {
    font-size: 29px;
}

/*esto es muy dificil... */


