#titulo{
    color:firebrick
    
}
 
    

p.especial{
    color:rgb(236, 7, 7)
}

p.texto{
    color:darkred
}

div p{
    color:rgb(12, 12, 12)
}

div h2{

    color:rgb(119, 4, 4)
}

* {
    font-size: 29px;
}

/*esto es muy dificil... */


